@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>@Model.GetName()</h2>
      <hr>
      <h3>Phone Number: @Model.GetPhoneNumber()</h3>
      <h3>Address: @Model.GetAddress()</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="/Contact/Form"><button type="button" class="btn">Create Another Contact</button></a>
    </div>
    <div class="col-md-4">
      <a href="/Contact/Display"><button type="button" class="btn">View All Contacts</button></a>
    </div>
    <div class="col-md-4">
      <a href="/Contact/Delete/@Model.GetId()" id="deleteContact"><button type="button" class="btn">Delete This Contact</button></a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#deleteContact").click(function() {
      if(!confirm("Are you sure you would like to delete this contact?")) {
        $("#deleteContact").attr("href", "/Contact/Info/@Model.GetId()");
        console.log("Rerouting");
      };
    });
  });
</script>
