@{
  Layout = "_Layout";
}

<div class="container">

  @if (Model.Count != 0)
  {
    <div class="row">
      <div class="col-md-12">
        <h2>All Contacts</h2>
        <ul>
          @foreach (var contact in Model)
          {
            <li><a href="/Contact/Info/@contact.GetId()">@contact.GetName()</a></li>
          }
        </ul>
      </div>
    </div>
  }
  else
  {
    <div class="row">
      <div class="col-md-12">
        <h2>Your Address Book currently does not contain any contacts.</h2>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-md-6">
      <a href="/Contact/Form"><button type="button" class="btn">Create New Contact</button></a>
    </div>

    @if (Model.Count != 0)
    {
    <div class="col-md-6">
      <a href="/Contact/Clear"><button type="button" class="btn">Clear all Contacts</button></a>
    </div>
    }

  </div>
</div>
