@using AddressBookProject.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AddressBook Project</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/scripts/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div class="container" id="jumbotronContainer">
      <div class="jumbotron">
        <h1>Address Book</h1>
      </div>
    </div>
    @if (Contact.GetContacts().Count > 0)
    {
      <div id="searchBarContainer">
        <form action="/Contact/Search" method="get">
          <div class="form-group" id="searchBar">
            <input type="text" name="searchName" id="searchName" value="Contact Name">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    }
  @RenderBody()
    <div id="footer">
      <p>Copyright &#0169; Justin Lardani
          <script type="text/javascript">document.write(new Date().getFullYear());</script>
      </p>
    </div>
  </body>
</html>

<script type="text/javascript">
  $(document).ready(function() {
    $("#searchName").click(function() {
      $(this).attr("value", "");
    });
  });
</script>
