@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Use this Address Book application to keep track of your contacts</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="/Contact/Form"><button type="button" class="btn" id="indexButton">Add a New Contact</button></a>
    </div>
  </div>
</div>
